* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  list-style: none;
  text-decoration: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors   */
  --alert: #4ecdc4;

  /* backgrounds */
  --bgHighestContrast: #292f36;
  --bgHighContrast: #1e1e1e;
  --bgMediumContrast: #b7b7b7;
  --bodyBackground: #fff;

  /* texts */
  --textHighestContrast: #fff;
  --textHighContrast: #292f36;
}

.dark {
  /* backgrounds */
  --bodyBackground: #111;
  --bgHighestContrast: #4ecdc4;
  --bgHighContrast: #292f36;
  --bgMediumContrast: #1e1e1e;

  /* texts */
  --textHighContrast: #b7b7b7;
}

body {
  height: 100vh;

  background-color: var(--bodyBackground);
  color: var(--textHighContrast);
}

div#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 64px 32px;
}

div#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  width: 100%;
}

/* profile */
div#profile {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 4px;
}
div#profile img {
  border-radius: 100%;
  width: 128px;
}

/* Switch */
div#switch-container {
  background-color: var(--bgMediumContrast);
  border-radius: 100px;

  width: 48px;
  height: 24px;
  margin: 12px 0;

  position: relative;
}
div#switch-container span.switch-button {
  background-color: var(--textHighestContrast);
  border: none;
  border-radius: 100%;

  width: 16px;
  height: 16px;
  margin: 0 4px;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);

  animation: slide-back 0.2s forwards;
}
.dark div#switch-container span.switch-button {
  background-color: var(--alert);
  animation: slide-in 0.2s forwards;
}

/* Buttons */
ul#actions {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}
ul#actions li a {
  font-weight: 800;
  text-decoration: none;
  color: var(--textHighestContrast);
  background-color: var(--bgHighContrast);
  border-radius: 16px;

  display: inline-block;
  min-width: 240px;
  padding: 8px 0;

  /* transition: background 0.2s; */
}
ul li a:hover {
  /* background-color: var(--surface-color-hover);
  border: 1.5px solid var(--textHighContrast); */
}

/* Icons */
div#social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 12px 8px;
}

div#social-links a {
  /* transition: background 0.2s; */
  font-size: 24px;
}
div#social-links a:hover {
  /* background-color: var(--highlight-color); */
}
ion-icon {
  color: var(--bgHighestContrast);
}

footer {
  padding: 24px 0;
  text-align: center;
}

.green-text {
  color: var(--bgHighestContrast);
}

@keyframes slide-in {
  from {
    right: 50%;
  }
  to {
    right: 0;
  }
}

@keyframes slide-back {
  from {
    right: 0%;
  }
  to {
    right: 50%;
  }
}
